.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    background: linear-gradient(to right, var(--blue));
    color: white;

    position: sticky;
    z-index: 100;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-reg, .nav-login {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Mobile */
@media (max-width: 600px) {
    .name {
        display: none;
    }

}